@import "main.css";

.courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.course{
    width: 20rem;
    height: 14rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    position: relative;
}
.course img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
.course .statues{
    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    z-index: 1;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0,0,0,0.5);
}
.course .statues .state{
    
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.course .statues .state i{
    margin-right: 0.5rem;
}
.course .statues .state span{
    font-weight: 500;
}
.course .statues .state .badge{
    font-size: 1.2rem;
}
.course .course-details{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(0,0,0,0.5);
}
.course .course-details button{
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.course .course-details button:hover{
    background-color: #0069d9;
}
.course .course-text{
    color: #fff;
}
.course .course-text .title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.course .course-text .description{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
}
.course-view{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.course-view .course-details{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.course-view .course-details .title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.course-view .course-details .description{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.course-view .course-details .videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.course-view .course-details .videos .video{
    width: 15rem;
    height: 9rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}
.course-view .course-details .videos .video img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
.course-view .course-details .videos .video .video-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #fff;
}
.course-view .course-details .videos .video .video-text .title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.course-view .course-details .videos .video .video-text .description{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
}
.course-view .course-details .videos .video .video-text button{
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.course-view .course-details .videos .video .video-text button:hover{
    background-color: #0069d9;
}
@media only screen and (max-width: 768px){
    .courses{
        flex-direction: column;
    }
    .course{
        width: 100%;
        height: auto;
    }
    .course .statues{
        justify-content: center;
    }
    .course .course-details{
        justify-content: center;
    }
    .course .course-details button{
        margin-top: 1rem;
    }

}