@import "main.css";

image
{
    width: 100px;

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    font-family: var(--font-monospace);
}
ul.buttons li, ul.pages li , ul.buttons, ul.pages
{
    list-style: none;
    display: inline-block;
    
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    
}
ul.pages li a
{
    width: 120px;
    text-decoration: none;
    
    padding: calc(1rem - 5px);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.pages li a:hover
{
    background-color: var(--primary);
}
.pages li:first-child a 
{
    border-radius: 1rem 5px 5px 1rem;
}

.pages li:last-child a
{
    border-radius: 5px 1rem   1rem 5px;
}
ul.buttons li a
{
    text-decoration: none;
    border-color: var(--accent);
    border-width: 2px;
    border-style: solid;
    padding: 05px 15px;
}
ul.buttons li:first-child  a
{
    font-size: 1rem;
}
ul.buttons li:last-child  a
{
    background-color: var(--primary);
    outline: none;
}

html, body
{
    background-color: var(--background);
    height: 100%;
    width: 100%;
}

.nav
{
    position: absolute;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px white solid;
    background-color: rgba(28, 1, 46, 0.075);
    filter: drop-shadow(0px 2px 10px var(--secondary));
    backdrop-filter: blur(10px);
    top: 0;

}
.Hidden
{
    
    display: none !important ;
}

.container
{
    margin-top: calc( 36px + 20px); 
}

