@import "main.css";

image
{
    width: 100px;

}

*
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: var(--font-monospace);
    max-width: 100%;
}
.logo
{
    margin-right: 10px;
    user-select: none;
    display: inline-block;

}
ul.buttons li, ul.pages li , ul.buttons, ul.pages
{
    list-style: none;
    display: inline-block;
    
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    
}
ul.pages li a
{
    width: 120px;
    text-decoration: none;
    
    padding: calc(1rem - 5px);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.pages-logo
{
    display: flex;
    align-items: center;
}
.pages-logo a
{
    color: var(--primary);
}

.pages li a:hover
{
    
    filter: drop-shadow(4px 5px 1px rgba(38, 51, 49, 0.226) );
}

ul.buttons li a
{
    text-decoration: none;
    border-color: var(--accent);
    border-width: 2px;
    border-style: solid;
    padding: 05px 15px;
}
ul.buttons li:first-child  a
{
    font-size: 1rem;
}
ul.buttons li:last-child  a
{
    background-color: var(--primary);
    outline: none;
}

html, body
{
    background-color: var(--background);
    height: 100%;
    width: 100%;
    color: var(--text);
}

.nav
{
    position: absolute;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px white solid;
    background-color: rgba(28, 1, 46, 0.075);
    filter: drop-shadow(0px 2px 10px var(--secondary));
    backdrop-filter: blur(10px);
    top: 0;

}

.profile 
{
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
.avatar
{
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.avatar img
{
    width: 100%;
    object-fit: cover;
}
.Hidden
{
    
    display: none !important ;
}





.container
{
    margin-top: 61px; 
    display:  flex;
    height: 856px;
    margin-bottom: 20px;
    border-bottom: 1px solid aliceblue;
    
}
.container .hero-text
{
    flex: 1;
}
.container .hero-image
{
    flex:2;
}
.container div img
{
    height: 100%;
    object-fit: cover;
    
}
.quotes
{
    color: aliceblue;
    position: absolute;
    top: 30%;
    right: 0;
    background-color: black;
    padding: 40px calc(100vw / 3) 40px 40px;
    font-size: 2em;
}
.quotes *
{
    color: aliceblue;
}


