:root
{
    --text: #ffffff;
--background: #1a1e29;
--primary: #0f253c;
--secondary: #35cf79;
--accent: #fce9e3;
--font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.header-section
{

}

.row-section
{
    
}
.column-section
{

}